#loremIpsum {
    width: 38.25rem;
    height: 17rem;
    margin: 10.125rem 10.688rem 2.938rem 0;
}

h1 {
    color: white;
    font-size: 5.25rem;
    font-family: HelveticaNeue;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -2.2px;
}