.App {
  background-image: url("./assets/images/slide_one.jpg");
  width: 90rem;
  height: 50.625rem;
  padding: 1.179rem 8.125rem 0 7.938rem;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.6);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.data-container {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
  color: white;
}